:root {
    --dark: rgb(38, 49, 60);
    --light: rgb(189, 206, 215);
    --overlay: rgba(134, 144, 147, 0.5);
    --gap: 1rem;
}

* {
    box-sizing: border-box;
    font-variant: small-caps;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

::-webkit-inner-spin-button {
    display: none;
}

/* color */
a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: var(--light);
    border: none;
    color: var(--dark);
}

button {
    background-color: var(--dark);
    color: var(--light);
}

#ratio-form {
    background-color: var(--overlay);
}

input {
    background-color: transparent;
    border: none;
    outline: none;
}

label {
    border-bottom: 2px solid var(--overlay);
    color: transparent;
}

button {
    background-color: var(--dark);
    color: var(--light);
}

/* text */
body,
button {
    font-size: 1.5rem;
}

footer {
    font-size: .85rem;
}

h2, input, #num-4 {
    font-size: 1.15rem;
}

/* display */
.flex {
    display: flex
}

/* box */
body, label, main, #ratio-form {
    flex-direction: column;
}

body {
    align-items: center;
    gap: var(--gap);
    padding: 10vw 3vw;
}

button {
    border-radius: .5rem;
    padding: .5rem 1rem;
}

header, main {
    width: 100%;
}

main,
#btn-section {
    gap: var(--gap);
}

#ratio-form {
    border-radius: .5rem;
    gap: var(--gap);
    height: 100%;
    justify-content: space-around;
    padding: 1rem;
}

#ratio-form article {
    align-items: flex-end;
    gap: calc(var(--gap)/2);
}

#ratio-form input,
#num-4 {
    padding: .25rem;
    width: 4rem;
}

#submit {
    flex-grow: 1;
}