/* 0. Palette */
:root {
    --dark: rgb(23 33 43);
    --light: rgb(74 148 141);
    --num-btns: rgb(16 34 52);
    --calculated: rgb(99, 216, 207);
    --overlay: rgba(142, 88, 129, 0.5);
    --pink: rgb(236, 185, 228);
    --accent: rgb(62 37 88);
    --k: 1rem;
}

* {
    box-sizing: border-box;
    font-variant: small-caps;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: .25rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--overlay);
    border-radius: var(--k);
}

.flex {
    display: flex
}

/* I. Base */
body {
    background-color: var(--light);
    color: var(--dark);
    flex-direction: column;
    align-items: center;
    gap: calc(var(--k)/2);
    height: 100vh;
    padding: 3.25vw 2.5vw;
}

/* II. Rule of Thirds */
header,
main {
    width: 100%;
}

main {
    flex-grow: 1;
    flex-direction: column;
    gap: var(--k);
    overflow: hidden;
    padding: .15rem;
}

footer {
    color: var(--overlay);
    font-size: .85rem;

    & a {
        color: var(--dark);
        text-decoration: none;
        transition: 1s color;

        &:hover {
            color: var(--accent);
        }
    }
}

/* III. Nested semantic elements */
/* Calculator screen */
#form-section {
    flex-grow: 1;
    overflow: hidden;
}

#ratio-form {
    background-color: var(--overlay);
    border-radius: .5rem;
    flex-direction: column;
    gap: var(--k);
    height: 100%;
    justify-content: space-between;
    padding: .5rem var(--k);

    & article {
        align-items: flex-end;
        gap: calc(var(--k)/2);
    }

    & label {
        flex-direction: column;
        color: transparent;

        & input {
            border: none;
            border-radius: .25rem;
            outline: none;
            text-align: center;
            width: 4rem;
            transition: 1s background-color, 1s color;
        }

        & input[data-focus="false"] {
            background-color: transparent;
            border-bottom: 2px solid var(--accent);
            color: var(--accent);
        }

        & input[data-focus="true"] {
            background-color: var(--overlay);
            border-bottom: 2px solid var(--pink);
            color: var(--pink);
        }
    }
}

/* Memory display */
#list-container {
    flex-grow: 1;
    overflow-y: scroll;

    & #ratio-list {
        color: var(--calculated);
        flex-direction: column;
        font-size: .85rem;
        gap: calc(var(--k)/2);
        list-style: none;
        text-align: end;

        & li {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: baseline;
            gap: var(--k);
        }
    }
}

/* Calculator keypad */
#keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--k);

    & article {
        display: grid;
        gap: inherit;
    }

    & #number-btns {
        grid-template-columns: repeat(3, 1fr);
        grid-column: span 3;
        grid-row: span 4;
    }

    & #action-btns {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-row: span 5;
    }

    & #memory-btns {
        grid-template-columns: repeat(3, 1fr);
        grid-column: span 3;
    }

    & [data-num="0"],
    #clear-all {
        grid-column: span 2;
    }

    & #submit {
        grid-row: span 2;
    }
}

button {
    background-color: var(--dark);
    border: none;
    border-radius: .5rem;
    color: var(--light);
    padding: .25rem .5rem;
    transition: 1s background-color, 1s color, 1s outline;
}

button[data-num] {
    background-color: var(--num-btns);
}

button:active,
button:hover,
button:focus {
    background-color: var(--accent);
    color: var(--pink);
}

button:focus {
    outline: 2px solid var(--pink);
}

/* IV. Typography */
body,
#keypad button,
h1 {
    font-size: 1.5rem;
}

h2,
input {
    font-size: 1.15rem;
}

@media screen and (min-width: 750px) {
    #keypad {
        flex-grow: 2;
    }
}

@media screen and (min-width: 1024px) {
    main {
        flex-direction: row;

        & #form-section {
            flex-grow: 0;
            width: 40vw;
        }
    }
}